html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: auto;
    font-size: 15px;
    height: 100%;
    
}

.main-div {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.topnav, .navigation-footer{
    margin: 2em;
    padding-right: 2em;
    line-height: 30px;
}

.topnav{
    margin: 0;
    padding: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 9px 27px;

}

.right-nav-top {
    float: right;
    
} 

ul {
    list-style: none;
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 15px px;
}

ul li{
    display: inline-block;
    padding-left: 15px;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    margin: auto 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.appicon:hover{
    filter: brightness(0%);
    text-decoration: none;
}

.appicon {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    
}

li button {
    text-decoration: none;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    font-weight: bold;
    border-radius: 2px;
    padding: 0 12px;
    cursor: default;
    opacity: 1px;
    line-height: 28px;
    color: white;
    
}

.logo {
    margin-top: 50px;
    text-align: center;
    margin: 0;

  
         
}

form{
    text-align: center;
}

.searchbar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    

}


.search-container{
    width: 680px;
    height: 50px;
    border: 1px solid #cccccc;
    box-shadow: 1px 2px 3px #dddddd;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
 
.search-input {
    outline: none;
    border: none;
    width: 660px;
    margin-left: 10px;

}

.google-mic {
    width: 32px;
    height: 32px;
    margin-top: 4px;
}

.google-button {
    margin-top: 15px;
    text-align: center;
   

}

.language{
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
        
}

.language a {
    color: blue;
}





.footer{
    font-size: 15px;
    opacity: 0.75;
    color: rgba(0, 0, 0, 54);
    background-color: #f2f2f2;
    line-height: 40px;
    bottom: 0;
    padding: 0px 5px;
    width: 100%;
    position: absolute;

}

.navigation-footer{
    float: left;
}

.footer-left{
    text-align: left;
}

.footer-right{
    float: right;
}
